.quote {
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  font-family: 'Nanum Pen Script', cursive;
  margin-top: 75px;
}

.figure {
  margin-top: 50px;
}

span {
    font-size: 96px;
    position: relative;
}

#first-quote {
    margin-right: 15px;
    top: 20px;
}

#second-quote {
    margin-left: 15px;
    top: 80px;
}